#slides_images_list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
#slides_images_list li, .ui-state-highlight {
    margin: 0;
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    background: #eeeeee;
    min-height: 80px;
    gap: 15px;
}
#slides_images_list li .move {
    height: 100%;
    padding: 0 15px;
    display: flex;
    align-items: center;
    background: #c2c2c2;
    color: #5c5c5c;
}
.ui-state-highlight {
    border: none;
    background: rgb(255, 223, 118) !important; 
}
#slides_images_list li img {
    width: 200px;
    object-fit: cover;
    border-radius: 5px;
}
.wp-editor-expand {
    display: none;
}
.w-100 {
    width: 100%;
}
.delete {
    margin-right: 10px;
}
.delete .button-primary {
    background: #d63638;
    border-color: #d63638;
}
.column-images { 
    width: 180px; 
}
.column-images .image-item {
    display: inline-block;
    border: 2px solid #c3c3c3;
    height: 40px;
    border-radius: 50px;
}
.column-images .image-item:not(:first-child) {
    margin-left: -10px;
}
.column-images .image-item img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    object-fit: cover;
}
.wp-list-table td, .wp-list-table .check-column { 
    vertical-align: middle; 
}
.widefat tbody th.check-column {
    padding: 0 0 0 3px;
}
